{
  "action": "actions",
  "list": [
    {
      "action": "projectile",
      "inheritDamageFactor": 1,
      "type": "pat_kagExplosion"
    },
    {
      "action": "loop",
      "count": 3,
      "body": [
        {
          "action": "particle",
          "rotate": true,
          "specification": {
            "type": "ember",
            "size": 1.25,
            "color": [ 85, 95, 85 ],
            "initialVelocity": [ 0, 0 ],
            "finalVelocity": [ 0, -15 ],
            "approach": [ 15, 30 ],
            "layer": "front",
            "timeToLive": 0.5,
            "destructionTime": 0.5,
            "destructionAction": "shrink",
            "collidesForeground": true,
            "fullbright": false,
            "trail": true,
            "variance": {
              "size": 0.75,
              "timeToLive": 0.25,
              "initialVelocity": [ 45, 45 ],
              "finalVelocity": [ 0.5, 5 ]
            }
          }
        }
      ]
    },
    {
      "action": "loop",
      "count": 10,
      "body": [
        { "action": "spark" },
        {
          "action": "option",
          "options": [
            {
              "action": "particle",
              "specification": {
                "type": "animated",
                "animation": "/animations/smoke/smoke.animation",
                "approach": [ 0.5, 0.5 ],
                "timeToLive": 0.6,
                "variance": {
                  "position": [ 1.5, 1.5 ],
                  "initialVelocity": [ 1, 1 ],
                  "timeToLive": 0.15,
                  "rotation": 180
                }
              }
            },
            {
              "action": "particle",
              "specification": {
                "type": "animated",
                "animation": "/animations/mediumflame/mediumflame.animation",
                "fullbright": true,
                "light": [ 235, 126, 2 ],
                "fade": 4,
                "approach": [ 0.5, 0.5 ],
                "timeToLive": 0.6,
                "variance": {
                  "position": [ 1.5, 1.5 ],
                  "initialVelocity": [ 1, 1 ],
                  "timeToLive": 0.15,
                  "rotation": 180
                }
              }
            },
            {
              "action": "particle",
              "specification": {
                "type": "animated",
                "animation": "/animations/smallflame/smallflame.animation",
                "fullbright": true,
                "light": [ 191, 103, 2 ],
                "fade": 6,
                "approach": [ 0.5, 0.5 ],
                "timeToLive": 0.6,
                "variance": {
                  "position": [ 1.5, 1.5 ],
                  "initialVelocity": [ 1, 1 ],
                  "timeToLive": 0.15,
                  "rotation": 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action": "sound",
      "options": [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    }
  ]
}
